<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.board.dao.BoardMapper">
	<!-- 총 레코드 수 -->
	<select id="selectRowCount" resultType="integer">
		SELECT
		   COUNT(*)
		FROM board b
		JOIN member m
		ON b.mem_num = m.mem_num
	</select>
	<!-- 글 목록 -->
	<select id="selectList" parameterType="map"
	                                   resultType="boardVO">
		SELECT
		   *
		FROM (SELECT 
		        a.*,
		        boa_num bnum
		      FROM(SELECT
		              b.board_num,
		              <![CDATA[
		              REPLACE(REPLACE(b.title,'<','&lt;'),'>','&gt;') title,
		              ]]>
		              b.hit,
		              b.modify_date,
		              b.mem_num,
		              m.id
		           FROM board b
		           JOIN member m
		           ON b.mem_num=m.mem_num
		           ORDER BY b.board_num DESC)a)
    	<![CDATA[
    	WHERE rnum >= #{start} AND rnum <= #{end}
    	]]>
	</select>
</mapper>







