<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.board.dao.BoardMapper">

	<!-- 총 게시글 수 -->
	<select id="selectRowCount" resultType="integer">
		SELECT
		   COUNT(*)
		FROM board b
		JOIN member m
		ON b.mem_num = m.mem_num
	</select>
	
	<!-- 글 목록 -->
	<select id="selectList" parameterType="map"
	                                   resultType="boardVO">
		SELECT
		   *
		FROM (SELECT 
		        a.*,
		        rownum rnum
		      FROM(SELECT
		              b.boa_num,
		              <![CDATA[
		              REPLACE(REPLACE(b.boa_title,'<','&lt;'),'>','&gt;') boa_title,
		              ]]>
		              m.mem_nick,
		              b.boa_date,
		              b.boa_hit,
		              b.boa_filename,
		              b.boa_mode
		              FROM board b JOIN member_detail m ON b.mem_num = m.mem_num ORDER BY b.boa_num DESC)a)
		            
    	<![CDATA[
    	WHERE rnum >= #{start} AND rnum <= #{end}
    	]]>
    	
	</select>
	
	
	
	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="boardVO">
		UPDATE board SET
			<if test="filename != ''">
			boa_uploadfile=#{boa_uploadfile},
			boa_filename=#{boa_filename},
			</if>	
			boa_title=#{boa_title},
			boa_content=#{boa_content}
			boa_mode=#{boa_mode}
		WHERE boa_num=#{boa_num}
	</update> 
	
</mapper>







