#button1 {
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  padding:0 0.5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  befor:
}
button1:hover{
  background:#fff;
  color:#1AAB8A;
}
button1:before{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button1::after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button1:hover::before,button1:hover::after{
  width:100%;
  transition:800ms ease all;
}