@charset "UTF-8";


/* ul{
	list-style:none;
}
li{
	float:left;
	margin-left:20px;
} */
#candy{
	margin-bottom:50px;
}
.close ul li{
	list-style:none;
	float:left;
	margin-left:30px;
	font-size:20px;
}
#rodi{
	color:#ff0000;
}
.text-line li input{
	width:70%;
	outline: none;
	outline-style: none;
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #00ff80 1px;
}
.omm{
	width:50%;
	height:50%;
	}
.button-love{
	background-color:#34ebc3;
	width:70%;
	height:50px;
}	
#border-love{
	border-style:groove;
	border-width:medium;
}
.page-love{
	width:80%;
	margin:30px auto;
}
.page-love form{
	text-align:center;
	width:500px;
	margin:0 auto;
	padding:10px 10px 10px 0px;
}
.page-love ul{
	list-style:none;
}