/*
	공통
*/
	ul
	{
		list-style:none;
	}
	
	label
	{
		font-weight:bold;
		width:100px;
	}
	
	select#pos_type
	{
		width:150px; height:40px;
	}
	
	form ul
	{
		padding-left:450px;
		padding-top:50px;
	}
	
	form ul li
	{
		padding-bottom:10px;
	}
	
	textarea
	{
		resize:none;
		width:1000px; height:500px;
	}
	
	table
	{
		width:280%;
		border:1px solid #b3bcbd;
	}
	
	table th
	{
		text-align:center;
		border:1px solid #b3bcbd;
		border-collapse:collapse;
	}
	
	table td
	{
		text-align:center;
		color:#b3bcbd;
	}
	
	table td a
	{
		font-weight:bold;
		color:#b3bcbd;
		text-decoration:none;
	}
	
	.title
	{
		color:#b3bcbd;
	}

/*
	포지션 카테고리
*/
#pos_type
{
	width:250px; height:300px;
	margin:30px;
	border:1px solid #b3bcbd;
}

#pos_type header
{
	background-color:#34ebc3; color:white;
	height:50px;
	font-weight:bold;
	font-family:sans-serif;
	padding-left:75px;
	padding-top:10px;
}

#pos_type ul li a
{
	text-decoration:none;
	color:#b3bcbd;
	font-family:sans-serif;
	padding-top:10px;
	display: block;
}

/*
	게시물 정렬
*/
#pos_sort
{
	position:absolute;
	width:600px; height:75px;
	top:650px; left:350px;
}

#pos_sort ul li
{
	font-family:sans-serif;
	float:left;
	font-weight:bold;
	padding-top:10px;
	padding-right:30px;
}

#pos_sort ul li a
{
	color:#34ebc3;
	text-decoration:none;
}

/*
	글쓰기 버튼
*/
#pos_btnWrite
{
	position:absolute;
	top:660px; left:93%;
}

/*
	게시물 없습니다 표시
*/
#pos_noBoard
{
	position:absolute;
	top:750px; left:400px;
}

/*
	form
*/
#pos_title
{
	width:800px;
}

/*
	게시판 목록
*/
#pos_boardList
{
	position:absolute;
	top:750px; left:350px;
}

#pos_paging
{
	position:absolute;
	left:350px;
}

/*
	게시판 디테일
*/
#pos_detail
{
	padding-left:450px;
	padding-top:50px;
}