<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.party.dao.PartyMapper">
<!-- 게시물 목록 -->
	<select id="selectPartyList" parameterType="map" resultType="partyVO">
		SELECT
		   *
		FROM (SELECT 
		        a.*,
		        rownum rnum
		      FROM(SELECT
		              p.par_num,
		              p.par_type,
		              <![CDATA[
		              REPLACE(REPLACE(p.par_title,'<','&lt;'),'>','&gt;') par_title,
		              ]]>
		              m.mem_nick,
		              p.par_date,
		              p.par_hit
		              FROM party p JOIN member_detail m ON p.mem_num = m.mem_num ORDER BY p.par_num DESC)a)
    	<![CDATA[
    	WHERE rnum >= #{start} AND rnum <= #{end}
    	]]>
	</select>
	
	<!-- 게시물 상세 페이지 -->
	<!-- <select id="selectBoard" parameterType="Integer" resultType="partyVO">
		SELECT 
			p.*,
			FROM party p JOIN member_detail m ON p.mem_num = m.mem_num 
			WHERE par_num = #{boardNum}
	</select> -->
	
	<!-- 게시물 수정 -->
		<update id="updateParty" parameterType="partyVO">
			UPDATE party SET
			<if test="par_filename != ''">
				par_uploadfile = #{par_uploadfile},
				par_filename = #{par_filename},
			</if>
			par_title = #{par_title},
			par_content = #{par_content}
			WHERE par_num = #{par_num}
		</update>
		
		<!-- ==== 댓글 시작 ==== -->
		<select id="selectPartyListReply" parameterType="map"
 	                     resultType="partyReplyVO">
 		SELECT
 		   *
 		FROM (SELECT 
 		        m.*, 
 		        rownum rnum 
 		      FROM (SELECT 
                      *
                    FROM (SELECT 
                            pop_num,
 		                    pop_content,
 		                    TO_CHAR(pop_date,'YYYY-MM-DD HH24:MI:SS') pop_date,
 		                    par_num,
 		                    mem_num
                          FROM party_reply where par_num=#{par_num}) r 
                               JOIN member_detail m
                               ON r.mem_num = m.mem_num
                               ORDER BY pop_num DESC)m)
                              
 		<![CDATA[
 		WHERE rnum >= #{start} AND rnum <= #{end}
 		]]>                                 
 	</select>
		<!-- ==== 댓글 끝 ==== -->
</mapper>